/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Inter', sans-serif;
}

/* Header */
header {
    background-color: #3a3a3a;
    padding: 0 10px;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* Links in Header */
header a {
    color: #3a3a3a;
    text-decoration: none;
}

/* Overrides above so logo is visible */
#home {
    color: #ffffff;
    text-transform: uppercase;
}

/* Navigation Menu */
#menu {
    font-size: 120%;
    letter-spacing: 1px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* for aligning text content centre */
.centre {
    display: block;
    justify-content: center;
    margin-bottom: 5px;
    padding: 10px;
  }

  .centre h1{
    text-align: center;
  }

  .centre img {
    width:100%;
    height:auto;
    }
  

/* Navbar styles */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Burger Icon is checked*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2.5rem;
    align-self: center;
    color: #ffffff;
}

/* Main Content */

main {
    margin-top: 80px;
    display:flex;
    flex: 1 0 auto;
    flex-direction: column;
}

/* Three columns side by side */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    justify-content: center;
  }

  .column img {
    float: left;
    width: 300px;
    height:400px;
    object-fit: cover;
}

.column h2{
    text-align: center;
}
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 90%;
      display: block;
      margin-left: 5%;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
    text-align: center;
  }

/* Form */
#signup {
    background-image: url("../images/hallway-form.jpg");
    background-size: cover;
    background-position: 75%;
    flex-grow: 1;
}


#signup-form {
    color: #ffffff;
    background-color: rgba(3, 3, 3, 0.6);
    padding: 30px;
}


#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}


.radio-buttons {
    width: 100%;
    display: block;
    justify-content: space-evenly;
}


.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #2a2b28;
    color: #fafafa;
}

/* Footer */
footer{
    background-color: #3a3a3a;
    text-align: center;
    padding: 1em;
    color: #fafafa;
}

#socials {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#socials i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

/* For screens where logo fits on one line */
@media screen and (min-width:370px) {
    main {
        margin-top: 40px;
    }

    .nav-toggle-label {
        font-size: 2rem;
    }

    .centre {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
      }
    
}

/* Media query: screens with room to display full menu (900px and up) */
@media screen and (min-width: 900px) {

    /* Header */
    /* Links in Header */
    header a {
    color: #ffffff;
    }

    .active {
        border-bottom: 1px solid #ffffff;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background-color: #3a3a3a;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    main {
        margin-top: 55px;
    }

    .centre img{
        width: 40%;
    }
}   
